* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Tahoma;
  background-color: #e8f0f0;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Lustria";
  src: url('./lustria.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#heading, .search-form, .links, ul, .menu-bar {
  display: flex;
}

.background-vid {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  position: relative;
}

.landing {
  height: 80vh;
}

#heading {
  height: 150px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 20vh auto 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#arkenfox-logo {
  height: 100px;
  filter: grayscale(100%) contrast(200%);
}

#title {
  font-size: 90px;
  padding: 0;
  margin-left: 10px;
  font-family: "Lustria", Garamond;
  font-weight: normal;
}

.searchbox {
  background-color: white;
  width: 500px;
  height: 44px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 4vh auto 0;
}

.search-form {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

#query {
  all: unset;
  margin-left: 2%;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
}

#submit {
  all: unset;
  cursor: pointer;
  margin-right: 2%;
}

#search-icon {
  height: 25px;
  width: 25px;
  margin-top: 2px;
}

.links {
  justify-content: space-evenly;
  width: 60vw;
  margin: 5vh auto 0;
  flex-wrap: wrap;
}

.links img {
  height: 100px;
  width: 100px;
  flex: 0 0 auto;
  transition: transform .5s ease;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%) contrast(110%);
}

.links img:hover {
  transform: scale(1.2);
}